<?xml version="1.0" encoding="UTF-8"?>

<!--
Wix Toolset Pills 15mg
Copyright (C) 2019-2021 Dust in the Wind

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="*" Name="Deploy Files - WiX Toolset Pill" Language="1033" Version="1.0.0.0" Manufacturer="Dust in the Wind" UpgradeCode="1005fc0e-c562-4498-9196-aa6fdd5f4e62">
        <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

        <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
        <MediaTemplate />

        <!--
        The <Feature> element is packing multiple components that can be installed together as a logical piece.
        If the installer has a UI, the user can select independently the features that wants to be installed.
        
        The current installer has only one feature and no UI. The feature will be automatically installed.
        
        If the installer has a UI, the Title attribute contains the text displayed in the UI for the feature.
        The Level attribute should be set to 1 to enable the installation of the feature by default.
        -->

        <Feature Id="ProductFeature" Title="DeployFiles" Level="1">

            <!--
            ====================================================================================
            Step 3: Tell Windows Installer to install the files
            ====================================================================================
            -->

            <ComponentGroupRef Id="FileComponents" />

        </Feature>

    </Product>
</Wix>