<?xml version="1.0" encoding="UTF-8"?>

<!--
WiX Toolset Pills 15mg
Copyright (C) 2019-2022 Dust in the Wind

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>

        <!--
        ====================================================================================================
        Step 5: The Directory Structure
        ====================================================================================================

        This is the place where we describe the directory hierarchy. The directories are referenced, later,
        by the components. Each component must have a base directory.
        
        Note: The directories are really created on disk only when the files are actually deployed in that
        directory. If no file is deployed in a directory, it is not created, even if it is mentioned in this
        hierarchical structure.
        
        The "Name" attribute is the name of the directory as it will be created on the disk.
        The "Id" attribute is used in WiX to reference the directory.
        
        Let's go back to the components.
        
        NEXT: FileComponents.wxs
        -->

        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder">
                <Directory Id="PillsDirectory" Name="WiX Toolset Pills 15mg">
                    <Directory Id="INSTALLFOLDER" Name="My First Installer" />
                </Directory>
            </Directory>
        </Directory>

    </Fragment>
</Wix>