<?xml version="1.0" encoding="UTF-8"?>

<!--
Wix Toolset Pills 15mg
Copyright (C) 2019-2021 Dust in the Wind

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>

        <!--
        A component group may contain multiple components.
        -->
        <ComponentGroup Id="FileComponents" Directory="INSTALLFOLDER">

            <Component>

                <!--
                In general, you should restrict yourself to a single file per component.
                The Windows Installer is designed to support thousands of components in a single installer,
                so unless you have a very good reason, keep to one file per component. 
                
                In the repair process, only the main file of the component can be repaired.
                -->
                <File Id="DummyFile"  Source="$(var.ProjectDir)dummy.txt" KeyPath="yes" />

            </Component>

        </ComponentGroup>

    </Fragment>
</Wix>