<?xml version="1.0" encoding="UTF-8"?>

<!--
WiX Toolset Pills 15mg
Copyright (C) 2019-2022 Dust in the Wind

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>

        <!--
        ====================================================================================================
        Step 4: The Components
        ====================================================================================================

        A component group is just a container for multiple components. It is there for us, the developers,
        to easier reference multiple components.
        
        The "Directory" attribute specifies a directory that will be automatically set to all the components
        from the group. Let's see how the directory hierarchy is declared.
        
        NEXT: Directories.wxs
        -->

        <ComponentGroup Id="FileComponents" Directory="INSTALLFOLDER">

            <Component Id="DummyFileComponent">

                <!--
                ====================================================================================================
                Step 6: Create the "dummy.txt" file
                ====================================================================================================

                Add a ne text file into the project, called "dummy.txt". This will be the file packed into a
                component in the MSI and deployed at install time on the target machine.
                
                NEXT: FileComponents.wxs (DOWN)
                -->

                <!--
                ====================================================================================================
                Step 7: Adding files to the installer
                ====================================================================================================

                In general, you should restrict yourself to a single resource, in this case a file, per component.
                The Windows Installer is designed to support thousands of components in a single installer, so
                unless you have a very good reason, keep to one file per component. 
                
                In the repair process, only the main resource (in this case file) of the component can be repaired.
                
                The "Source"
                
                NEXT: Product.wxs
                -->

                <File Id="DummyFile" Source="$(var.ProjectDir)dummy.txt" KeyPath="yes" />

            </Component>

        </ComponentGroup>

    </Fragment>
</Wix>