<?xml version="1.0" encoding="UTF-8"?>

<!--
WiX Toolset Pills 15mg
Copyright (C) 2019-2021 Dust in the Wind

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

    <!--
    ====================================================================================================
    START: Overview
    ====================================================================================================
    
    This project demonstrates how to create a simple installer that deploys one file.
    
    In this tutorial:
    
        - Create a new WiX Project.
        
        - Define a hierarchy of directories where components will be installed.
        
        - Create Feature -> Component -> File elements to include a text file that will be deployed in
          the target directory at install time.
        
        - Install/Uninstall the MSI.
    
    NEXT: Product.wxs
    -->
    
    <!--
    ====================================================================================================
    Step 1: Create a new WiX project
    ====================================================================================================
    
    In Visual Studio create a new "Setup Project for WiX v3" project:
    
    NEXT: Product.wxs (DOWN)
    -->

    <!--
    ====================================================================================================
    Step 2: The Product
    ====================================================================================================
    
    The <Product> is the main tag of the WiX Toolset project. It contains directly or refers everything
    that the resulted MSI file will contain. When you read a WiX project, you should start from the
    "<Product>" tag.
    
    NEXT: Product.wxs (DOWN)
    -->

    <Product
        Id="*"
        Name="My First Installer - WiX Toolset Pill"
        Language="1033"
        Version="1.0.0.0"
        Manufacturer="Dust in the Wind"
        UpgradeCode="1005fc0e-c562-4498-9196-aa6fdd5f4e62">

        <Package
            InstallerVersion="200"
            Compressed="yes"
            InstallScope="perMachine" />

        <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
        <MediaTemplate />

        <!--
        ====================================================================================================
        Step 3: The Features
        ====================================================================================================
        
        The <Feature> element is packing multiple components that can be installed together as a logical
        unit.
        
        NEXT: FileComponents.wxs
        -->

        <Feature
            Id="ProductFeature"
            Title="Deploy Files"
            Level="1">

            <ComponentGroupRef Id="FileComponents" />
        </Feature>

    </Product>

</Wix>

<!--
====================================================================================================
Step 8: The MSI's Name
====================================================================================================

Let's choose a name for the MSI file:
    - Right click on the project -> Properties -> Output name

By default, the MSI's name is the same as the project's name, but, if you like, it can be changed
from here.

NEXT: Product.wxs (DOWN)
-->

<!--
====================================================================================================
Step 9: Create install/uninstall scripts
====================================================================================================

Create new text files that will be renamed to ".bat":
    - Right click on project -> Add -> New Item -> Text File -> install.bat
    - Right click on project -> Add -> New Item -> Text File -> uninstall.bat

The WiX Toolset template generates an UTF-8 file with BOM. Remove the BOM before executing the
script files. See the tutorial for how to do that.

NEXT: Product.wxs (DOWN)
-->

<!--
====================================================================================================
Step 10: Add post-build event to deploy the scripts
====================================================================================================

The ".bat" files must be manually copied into the target directory:
    - Right click on project -> Properties -> Build Events -> Post-build Event Command Line

NEXT: Product.wxs (DOWN)
-->

<!--
====================================================================================================
Step 11: Build
====================================================================================================

Build the project: Ctrl+Shift+B

NEXT: install.bat
-->